*{
	box-sizing: border-box;
	max-width: 100%;
	padding: 0;
	margin: 0;
}
html{
	font-size: 62.5%;
}
body
{
	font-size: 2.5rem;
	line-height: 1.5;
}
h1, h2, h3, h4, h5, h6{
	font-size: 2.4rem;
	letter-spacing: 3px;
}
h1{
	font-size: 4.5rem;
}
h2{
  font-size: 4rem;
}
h3{
  font-size: 3.5rem;
}
h4{
  font-size: 3rem;
}
h5{
  font-size: 2.5rem;
}
h6{
  font-size: 2rem;
}
button{
	font-size: 2rem !important;
}
.linkNav{
  font-size: 2rem;
  margin: 2rem 0;
}
.linkButton{
  font-size: 2rem;
}
.NavBarTitle{
  text-decoration: none;
  color: white;
  font-size: 4rem;
  margin-left: 2rem;
  margin-right: 20rem;
}
.dropdownText{
  font-size: 2rem;
}
.NavBarText{
  font-size: 2rem !important;
  width: 24rem;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.NavBarDropdownItems{
  width: 24rem;
  color: white;
}
.center{
  text-align: center;
}

/* Login Page */
.LogInBoxStyle{
  border-radius: 1rem;
}
.applicationListBox{
  border-style: solid;
  border-color: white;
}
.applicationListBoxText{
  margin: 1rem 2rem;
}
.applicationListContainer{
  width: 35%;
  margin: 0 5%;
}
.applicationListButton{
  float: right;
  font-size: 1.5rem;
  margin-right: 2rem;
}