/* General */
*{
	box-sizing: border-box;
	max-width: 100%;
	padding: 0;
	margin: 0;
}
html{
	font-size: 62.5%;
}
body
{
	font-size: 2.5rem;
	line-height: 1.5;
}
h1, h2, h3, h4, h5, h6{
	font-size: 2.4rem;
	letter-spacing: 3px;
}
h1{
	font-size: 4.5rem;
}
h2{
  font-size: 4rem;
}
h3{
  font-size: 3.5rem;
}
h4{
  font-size: 3rem;
}
h5{
  font-size: 2.5rem;
}
h6{
  font-size: 2rem;
}
button{
	font-size: 2rem !important;
}
.center{
  text-align: center;
}
hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}
/* Home Page */
.homeButton{
  width: 10%;
  height: 20%;
  font-size: 3rem !important;
  margin: 10rem 10rem;
}
/* NavBar */
.linkNav{
  font-size: 2rem;
  margin: 2rem 0;
}
.linkButton{
  font-size: 2rem;
}
.NavBarTitle{
  text-decoration: none;
  color: white;
  font-size: 4rem;
  margin-left: 2rem;
  margin-right: 20rem;
}
.dropdownText{
  font-size: 2rem;
}
.NavBarText{
  font-size: 2rem !important;
  width: 24rem;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.NavBarDropdownItems{
  width: 24rem;
  color: white;
}
/* Login Page */
.LogInBoxStyle{
  border-radius: 1rem;
}
/* Application List Page */
.applicationListBox{
  border-style: solid;
  border-color: black;
  height: 20rem;
}
.applicationListBoxText{
  margin: 1rem 2rem;
}
.applicationListContainer{
  width: 35%;
  margin: 2% 5%;
}
.applicationListButton{
  float: right;
  font-size: 1.5rem;
  margin-right: 2rem;
}
/* Singular Application */
.applicationBox{
  border-style: solid;
  border-color: black;
}
.applicationBoxText{
  margin: 1rem 2rem;
}
.applicationContainer{
  width: 80%;
  margin: 2% 10%;
}
/* Task List */
.taskListBox{
  border-style: solid;
  border-color: black;
}
.taskListBoxText{
  margin: 1rem 2rem;
}
.taskContainer{
  width: 80%;
  margin: 2% 10%;
}
/* Form page */
.formContainer{
  border-style: solid;
  border-color: black;
}
.form-group{
  margin: 1rem 1rem;
}
/* community page */
.postContainer{
  width: 80%;
  margin: 2% 10%;
}
.postListBox{
  border-style: solid;
  border-color: black;
}
.postListBoxText{
  margin: 1rem 2rem;
}
.postListButton{
  float: right;
  font-size: 1.5rem;
  margin-right: 2rem;
  width: 15%;
}
/* singular post page */
.postContainer{
  width: 80%;
  margin: 2% 10%;
}
.postBox{
  border-style: solid;
  border-color: black;
}
.postBoxText{
  margin: 1rem 2rem;
}
.postButton{
  float: right;
  font-size: 1.5rem;
  margin-right: 2rem;
  width: 15%;
}
.commentOnButton{
  font-size: 80%;
  margin: 0 44.5%;
  margin-bottom: 2%;
}
.deletePostButton{
  font-size: 80%;
  margin: 0 44%;
}
/* comment lists */
.commentContainer{
  width: 80%;
  margin: 2% 10%;
}
.commentBox{
  border-style: solid;
  border-color: black;
}
.commentBoxText{
  margin: 1rem 2rem;
}
.commmentButton{
  float: right;
  font-size: 1.5rem;
  margin-right: 2rem;
  width: 15%;
}